<!DOCTYPE html>
<html lang="zh-cn">
<head>
	{% load basic_extras %}
	{% load i18n %}
	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>{% trans "debug page" %}</title>
</head>
<body>
<div class="flex-center">
	{% if show %}
	<div class="container">
		<div>
			<h1 class="logo">Testing</h1>
				<p>Users</p>
				{% for one_record in users %}
				{{ one_record|readdb }}<br />
				{% endfor %}
		</div>
	</div>
	{% else %}
	Nothing to show
	{% endif %}
</div>
</body>
</html>