test.txt
/sae01
/register/migrations
/register/__pycache__
/index/migrations
/index/__pycache__
/home/migrations
/home/__pycache__
/extend/__pycache__
/basic/migrations
/basic/__pycache__
/basic/views.py.bak
/basic/templatetags/__pycache__
/__pycache__
